{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
  <div class='snippet'>
    <div class='metadata'>
      <strong>About</strong>
    </div>
    <pre><code>
    김수한무 거북이와 두루미.
    김수한무 거북이와 두루미.
    김수한무 거북이와 두루미.
    김수한무 거북이와 두루미.
    김수한무 거북이와 두루미.    
    </code></pre>
{{end}}

