{{template "base" .}}

{{define "title"}}Change Password{{end}}

{{define "main"}}
<h2>Change Password</h2>
<form action='/user/changepass' method='POST'>
<!-- include the CSRF token -->
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
{{with .Form}}
  <div>
    <label>Old Password:</label>
    {{with .Errors.Get "old"}}
    	   <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='old'>
  </div>
  <div>
    <label>New Password:</label>
    {{with .Errors.Get "new1"}}
    	   <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='new1'>
  </div>
  <div>
    <label>Confirm Password:</label>
    {{with .Errors.Get "new2"}}
    	   <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='new2'>
  </div>
  <div>
    <input type='submit' value='Change Password'>
  </div>
{{end}}
</form>
{{end}}
