{{define "subject"}}Activate your Greenlight account!{{end}}

{{define "plainBody"}}
안녕하세요, 그린라이트 팀입니다.

계정 활성화를 요청하셨습니다.

`PUT /v1/users/activated` 요청을 다음 JSON 바디와 함께 보내주십시오.

{"token", "{{.activationToken}}"}

이것은 임시 토큰이며 3일 이후 만료됩니다.

감사합니다.
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
안녕하세요, 그린라이트 팀입니다.

계정 활성화를 요청하셨습니다.

`PUT /v1/users/activated` 요청을 다음 JSON 바디와 함께 보내주십시오.

<pre><code>
{"token", "{{.activationToken}}"}
</code></pre>

이것은 임시 토큰이며 3일 이후 만료됩니다.

감사합니다.
  </body>
</html>
{{end}}
