{{define "subject"}}Reset your Greenlight password!{{end}}

{{define "plainBody"}}
안녕하세요, 그린라이트 팀입니다.

패스워드 복구를 요청하셨습니다.

`PUT /v1/users/password` 요청을 다음 JSON 바디와 함께 보내주십시오.

{"passsword": "신규 패스워드", "token", "{{.passwordResetToken}}"}

이것은 임시 토큰이며 45분 이후 만료됩니다.

감사합니다.
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
안녕하세요, 그린라이트 팀입니다.

패스워드 복구를 요청하셨습니다.

`PUT /v1/users/password` 요청을 다음 JSON 바디와 함께 보내주십시오.

<pre><code>
{"passsword": "신규 패스워드", "token", "{{.passwordResetToken}}"}
</code></pre>

이것은 임시 토큰이며 45분 이후 만료됩니다.

감사합니다.
  </body>
</html>
{{end}}
